/.idea
/assets
/themes/classic
/protected/runtime
/protected/controllers/TestController.php
tmp.txt
/protected/config/console_server.php
/protected/config/cron_server.php
/protected/config/main_server.php
